<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ck.kbcv">

    <uses-sdk
            android:minSdkVersion="11"
            android:targetSdkVersion="23" />

    <application
            android:theme="@style/MyMaterialTheme">



        <activity
            android:label="@string/name"
            android:icon="@drawable/icon_launcher"
            android:name=".MainActivity"
            >
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <!-- A child of the main activity -->
        <activity
                android:name=".CreateEquationsActivity"
                android:label="Equations"
                android:parentActivityName=".MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />
        </activity>


    </application>

</manifest>