<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ck.kbcv">

    <uses-sdk
            android:minSdkVersion="11"
            android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
            android:theme="@style/MyMaterialTheme"
            android:installLocation="auto">




        <activity
            android:label="@string/name"
            android:icon="@drawable/icon_launcher"
            android:name=".activities.CreateEquationsActivity"
            >
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                        android:scheme="file"
                        android:mimeType="*/*"
                        android:host="*"
                        android:pathPattern=".*\\.trs"
                />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                        android:scheme="file"
                        android:mimeType="*/*"
                        android:host="*"
                        android:pathPattern=".*\\.xml"
                />
            </intent-filter>

        </activity>

        <activity
                android:name=".PagerActivity"
                android:label="Intro"></activity>

        <activity
                android:name=".activities.CompletionActivity"
                android:label="Completion"></activity>


        <!-- A child of the main activity -->
        <activity
                android:name=".activities.PrecedenceActivity"
                android:label="Precedence"
                android:parentActivityName=".activities.CompletionActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.CompletionActivity" />
        </activity>

        <!-- A child of the main activity -->
        <activity
                android:name=".activities.SettingsActivity"
                android:label="Settings"
                android:parentActivityName=".activities.CompletionActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.CompletionActivity"/>
        </activity>

        <!-- A child of the main activity -->
        <activity
                android:name=".activities.HelpActivity"
                android:label="Help"
                android:parentActivityName=".activities.CompletionActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.CompletionActivity"/>
        </activity>

    </application>

</manifest>